

.font-inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    background-color: #1A0B2E;
}

nav{
    width:74% ;
}
.banner{
    background-image: url(../images/hero-circle.png), url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position:center 80px, top; 
}

.grid-container{
    background-color:#230E3D ;
}

.grid-container div div{
   background-color: rgba(53, 17, 101, 0.4);
}

.card {
    background-color: #250D44;
   
}

.host{
    background-color: #250D44;
}

.icons{
    padding: 10px;
    border: 1px #533C72 solid;
    border-radius: 35px;
}

footer{
    background-image: url(/images/footer-bg.png);
     background-repeat: no-repeat;
     background-position: top;
}

    
    