.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #1A0B2E;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

html,
body {
    overflow-x: hidden;
}

.tech-headin{
     animation: glow 3s ease-in-out infinite alternate; 
}

.banner {
    background-image: url(../images/hero-circle.png), url(../images/hero-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center 80px, top;
    background-size: 320px 320px, cover;
    
}

.list{
    display:none;
}

.section-headin{
  animation: glow 2.5s ease-in-out infinite alternate; 
}

.grid-container {
    background-color: #230E3D;
}

.grid-container div div {

    background-color: rgba(53, 17, 101, 0.4);
}

.card {
    background-color: #250D44;
}

.host {
    background-color: #250D44;
}

.icons {
    padding: 10px;
    border: 1px #533C72 solid;
    border-radius: 35px;
}

footer {
    background-image: url(/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}

.episodes .episode-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    flex: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.card iframe {
    border-radius: 1rem 1rem 0 0;
}


.card h4 {
    font-size: 1.125rem;
}

.card p {
    font-size: 0.875rem;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px rgba(231, 9, 208, 0.4))
                drop-shadow(0 0 20px rgba(39, 25, 237, 0.79));
    }
    100% {
        filter: drop-shadow(0 0 25px rgba(255, 0, 255, 0.929))
                drop-shadow(0 0 50px rgba(181, 26, 181, 0.959));
    }
}

@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }

    .list{
        margin-right: 1.5rem;
        display: block;
    }

    .container h1{
        margin-left: 20px;
    }

    .navlist ul {
        display: none;
    }

    nav button {
        display: none;
    }

    .banner {
        background-image: none;
        background-image: url(/images/Vector.png) ,url(/images/hero-bg-2.png);
        background-size: 12.5rem 12.5rem, cover;
        background-position:center 2.5rem,  center;
    }

    .new-btn{
        margin-top: 2.5rem;
        margin-right: 8rem;

    }

    .tech-text{
        margin: 2% 10%;
    }

    .tech-btn{
        margin-bottom: 2.5rem;
    }

    
.banner-image{
    padding-top: 1.5rem;
    margin: 0 auto;
    width:3rem ;
    height: 5rem;

}

.banner-header{
    padding-top: 7rem;
}



    .podcast {
        margin: 40px 20px;
    }

    .rating {
        margin: 40px 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .rating > div {
        flex: 1 1 45%;
        min-width: 150px;
        text-align: center;
        margin-bottom: 20px;
    }

    .grid-con {
        padding-bottom: 2.5rem;
        grid-auto-flow: row;
        grid-template-columns: repeat(1,25rem);
    }

    .grid-con img{
        margin-top: 2rem;
    }

    .section-headin{
        padding-top: 2.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .grid-container div div{
        width: 28rem;
       
    }

    
     .episodes{
       padding-bottom: 3.7rem;
     }

    .host {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 332px);
    }
    .about-host{
        padding-right: 0;
        width: fit-content;
        justify-items: center;
        text-align: justify;
    }

    .about-host h4{
        font-size: 24px;
        font-weight: bold;
    }

    .host-section{
             margin-bottom: 2.5rem;
    }

    footer{
        background-image: url(/images/mobile-footer.png);
          background-repeat: no-repeat;
          background-size: cover;
        
    }

    .footer-div{
        padding: 40px 20px;
    }

    .footer-icons {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 136px);
    }

}