

body{
    background-color: #1A0B2E;
}

nav{
    width:74% ;
}
.banner{
    background-image: url(../images/hero-circle.png), url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position:center 80px, top; 
    

}
.banner-image{
    
    

}